<!doctype html>
<html>
<head>
  <title>GrubHub - Find and share recipes</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navbar"></div>
  <div id="main"></div>

  <script type="text/template" id="template-navbar">
    <div class="navbar-inner">
      <a class="brand" href="#"><i class="icon">&#xE277;</i>GrubHub</a>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <% if(loggedIn) { %>
          <li><a href="/#/new">Post a recipe</a></li>
        <% } %>
        <li class="dropdown">
          <% if(loggedIn) { %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="thumbnail avatar-small" src="<%= user.get('avatar') %>">
              <%- user.get('username') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Logout</a></li>
            </ul>
          <% } else { %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <fieldset class="login">
                <span class="errorMessage"></span>
                <li><input type="text" class="user" placeholder="Username or email"></li>
                <li><input type="password" class="password" placeholder="Password"></li>
                <li><button class="btn submit">Sign in</button></li>
              </fieldset>
              <li class="divider"></li>
              <li><a href="/#/register">Create a GrubHub account</a></li>
            </ul>
          <% } %>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="template-recipe">
    <% var editable = (session.get('loggedIn') && author === session.get('user').get('username')) ? 'editable' : '' %>
    <div class="row-fluid">
      <div class="meta span7">
        <h1 class="<%= editable %> title" placeholder="Title"><%- title || (editable ? 'Title' : '') %></h1>
        <span class="author"><% author ? 'by' : '' %> <%- author %></span>
        <% if(typeof origin !== 'undefined' && origin != null) { %>
          <span class="origin"> - Forked from <%- origin.author %>&#x27;s <a href="/#/recipe/<%= origin.id %>"><%- origin.title %></a></span>
        <% } %>
        <p class="<%= editable %> description" placeholder="Description"><%- description || (editable ? 'Description' : '') %></p>
      </div>
      <div class="actions span5">
        <% if(typeof newPost !== 'undefined' && newPost) { %>
          <button class="btn btn-success pull-right submit">Post this recipe</button>
        <% } else { %>
          <button class="btn fork pull-right">Fork this recipe</button>
        <% } %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="stretch-image"><img src="<%= picture %>"></div>
      <% if(editable) { %>
        <a class="upload-image">Upload a picture</a>
      <% } %>
    </div>
    <div class="stretch-image-clear"></div>

    <% if(typeof newPost !== 'undefined' && newPost) { %>
      <button class="btn btn-success pull-right submit">Post this recipe</button>
    <% } %>
    <div class="row-fluid">
      <div class="span5">
        <h2>Ingredients</h2>
        <ul class="ingredients">
        <% for(var i = 0; i < ingredients.length; i++) { %>
          <li class="<%= editable %>"><%- ingredients[i] %></li>
        <% } %>
        <% if(editable) { %>
          <li class="<%= editable %>"></li>
        <% } %>
        </ul>
      </div>
      <div class="span7">
        <h2>Steps</h2>
        <ol class="steps">
        <% for(var i = 0; i < instructions.length; i++) { %>
          <li class="<%= editable %>"><%- instructions[i] %></li>
        <% } %>
        <% if(editable) { %>
          <li class="<%= editable %>"></li>
        <% } %>
        </ol>
      </div>
    </div>
  </script>

  <script type="text/template" id="template-front">
    <div class="row-fluid intro">
      <div class="hero-unit span7">
        <h1>Find and share recipes</h1>
        <p>GrubHub is like GitHub for food, y&#x27;all.</p>
        <% if(!loggedIn) { %>
          <a class="btn btn-success" href="/#/register">Sign up</a>
        <% } %>
      </div>
    </div>

    <div class="row-fluid">
      <h2><i class="icon icon-fork"></i>Most Forked</h2>
      <div id="most-forked"></div>
      <div class="clear"></div>
    </div>
    <hr>
    <div class="row-fluid">
      <h2><i class="icon">&#xE055;</i>Recent</h2>
      <div id="recent"></div>
      <div class="clear"></div>
    </div>
  </script>


  <script type="text/template" id="template-recipe-thumbnail">
    <a href="/#/recipe/<%= _id %>">
      <h3 class="title"><%- title %></h3>
      <span class="author">by <%- author %></span><br>
      <img class="image" src="<%= picture %>/convert?w=400">
    </a>
  </script>

  <script type="text/template" id="template-register">
    <% if(!loggedIn) { %>
      <h1>Sign up for GrubHub</h1>
      <fieldset class="register-form">
        <span class="errorMessage"></span>
        <div class="control-group"><input class="email" type="text" placeholder="Email address"></div>
        <div class="control-group"><input class="username" type="text" placeholder="Username"></div>
        <div class="control-group"><input class="password" type="password" placeholder="Password"></div>
        <div class="control-group"><button class="btn btn-warning submit">Sign up</button></div>
      </fieldset>
    <% } %>
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/backbone-min.js"></script>
  <script type="text/javascript" src="/js/backbone.marionette.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/coffeescript" src="/js/app.coffee"></script>
  <script type="text/javascript" src="/js/coffee-script.js"></script>
  <script type="text/javascript">
    new function($) {
      $.fn.setCursorPosition = function(pos) {
        if ($(this).get(0).setSelectionRange) {
          $(this).get(0).setSelectionRange(pos, pos);
        } else if ($(this).get(0).createTextRange) {
          var range = $(this).get(0).createTextRange();
          range.collapse(true);
          range.moveEnd('character', pos);
          range.moveStart('character', pos);
          range.select();
        }
      }
    }(jQuery);
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36256957-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>