<!doctype html>
<html>
<head>
  <title>GrubHub - Find and share recipes</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navbar"></div>
  <div id="main"></div>

  <script type="text/template" id="template-navbar">
    <div class="navbar-inner">
      <a class="brand" href="#"><i class="icon">&#xE277;</i>GrubHub</a>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">
          <% if(typeof user !== 'undefined' && user != null) { %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="thumbnail avatar-small" src="<%= user.get('avatar') %>">
              <%- user.get('username') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Logout</a></li>
            </ul>
          <% } else { %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <fieldset class="login">
              <li><input type="text" class="user" placeholder="Username or email"></li>
              <li><input type="password" class="password" placeholder="Password"></li>
              <li><button class="btn submit">Sign in</button></li>
              </fieldset>
              <li class="divider"></li>
              <li><a href="/#/register">Create a GrubHub account</a></li>
            </ul>
          <% } %>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="template-recipe">
    <% if(typeof title !== 'undefined' && title) { %>
    <% var loggedIn = typeof session.get('user') !== 'undefined' && session.get('user') != null %>
    <% var editable = (loggedIn && author === session.get('user').get('username')) ? 'editable' : '' %>
    <div class="row-fluid">
      <div class="meta span7">
        <h1 class="<%= editable %>"><%- title %></h1>
        <span class="author">by <%- author %></span>
        <% if(typeof origin !== 'undefined' && origin != null) { %>
          <span class="origin"> - Forked from <%- origin.author %>&#x27;s <a href="/#/recipe/<%= origin.id %>"><%- origin.title %></a></span>
        <% } %>
        <p class="<%= editable %>"><%- description %></p>
      </div>
      <div class="actions span5">
        <button class="btn fork pull-right">Fork this recipe</button>
      </div>
    </div>

    <div class="row-fluid">
      <div class="stretch-image"><img src="<%= picture %>"></div>
    </div>
    <div class="stretch-image-clear"></div>

    <div class="row-fluid">
      <div class="span5">
        <h2>Ingredients</h2>
        <ul class="ingredients">
        <% for(var i = 0; i < ingredients.length; i++) { %>
          <li class="<%= editable %>"><%- ingredients[i] %>
        <% } %>
        </ul>
      </div>
      <div class="span7">
        <h2>Steps</h2>
        <ol class="steps">
        <% for(var i = 0; i < instructions.length; i++) { %>
          <li class="<%= editable %>"><%- instructions[i] %>
        <% } %>
        </ol>
      </div>
    </div>
    <% } %>
  </script>

  <script type="text/template" id="template-front">
    <div class="row-fluid intro">
      <div class="hero-unit span7">
        <h1>Find and share recipes</h1>
        <p>It&#x27;s like GitHub for food, y&#x27;all.</p>
        <a class="btn btn-success" href="/#/register">Sign up</a>
      </div>
    </div>

    <div class="row-fluid">
      <h2><i class="icon icon-fork"></i>Most Forked</h2>
      <ul class="recipe-collection">
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Mushroom Stew</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/7/7e/Mushroomsoup.png">
        </li></a>
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Bread</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/f/ff/Bread2.png">
        </li></a>
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Steak</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/6/66/Steak.png">
        </li></a>
      </ul>
      <div class="clear"></div>
    </div>
    <hr>
    <div class="row-fluid">
      <h2><i class="icon">&#xE055;</i>Recent</h2>
      <ul class="recipe-collection">
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Steak</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/6/66/Steak.png">
        </li></a>
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Mushroom Stew</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/7/7e/Mushroomsoup.png">
        </li></a>
        <a href="/#/recipe/test"><li class="recipe span4">
          <h3 class="title">Bread</h3>
          <span class="author">by mappum</span>
          <img class="image" src="http://media-mcw.cursecdn.com/f/ff/Bread2.png">
        </li></a>
      </ul>
      <div class="clear"></div>
    </div>
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/backbone-min.js"></script>
  <script type="text/javascript" src="/js/backbone.marionette.min.js"></script>
  <script type="text/coffeescript" src="/js/app.coffee"></script>
  <script type="text/javascript" src="/js/coffee-script.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    new function($) {
      $.fn.setCursorPosition = function(pos) {
        if ($(this).get(0).setSelectionRange) {
          $(this).get(0).setSelectionRange(pos, pos);
        } else if ($(this).get(0).createTextRange) {
          var range = $(this).get(0).createTextRange();
          range.collapse(true);
          range.moveEnd('character', pos);
          range.moveStart('character', pos);
          range.select();
        }
      }
    }(jQuery);
  </script>
</body>
</html>